.checkout__form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout__form-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.checkout__form .form-label {
  font-weight: bold;
  color: #333;
}

.form-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout__button {
  background-color: #af50e5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.checkout__button:hover {
  background-color: #9933cc;
}
