.filter-container {
  padding: 15px;
 
}

.filter-section {
  margin-bottom: 20px;
}

.filter-section h6 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #AF50E5; /* Morado */
}

.filter-section ul {
  list-style-type: none;
  padding: 0;
}

.filter-section li {
  margin-bottom: 8px;
}

.filter-item {
  cursor: pointer;
  color: #333; /* Negro/gris oscuro */
  text-decoration: none;
}

.filter-item:hover {
  color: #AF50E5; /* Morado */
}
