.profile__page {
  display: flex;
  flex: 1;
}

.profile__container {
  padding: 20px;
  min-height: calc(100vh - 56px);
  flex-grow: 1;
}

@media (max-width: 768px) {
  .profile__page {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    border-right: none;
    border-bottom: 1px solid #dee2e6;
  }

  .profile__container {
    margin-left: 0;
  }
}
