/* Global CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Remove list styles on all lists */
ul, ol {
  list-style: none;
}

/* Remove link underlines by default */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default button styles */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Normalize image display */
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

/* Set a consistent base for all elements */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* Make sure that all elements are displayed correctly as block or inline */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 500;
}

p {
  margin-bottom: 1rem;
}

.nav-link, a {
  transition: color 0.3s ease;
}

.nav-link:hover, a:hover {
  color: #AF50E5;
}


button {
  display: inline-block;
  background-color: #3498db;
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input:focus, textarea:focus {
  border-color: #3498db;
  outline: none;
}

/* Layout styles */
#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.content-wrapper .row {
  flex: 1;
}

.footer {
  margin-top: auto;
}
